<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.charmedmatter.glitchybritches.todo_app">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:logo="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/ListFreakStyle">
        <activity
            android:name=".ui.SplashscreenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity">
            android:name=".MainActivity"
            android:icon="@drawable/ic_launcher"
        </activity>

        <provider
            android:name=".data.TodoItemsContentProvider"
            android:authorities="com.charmedmatter.glitchybritches.todo_app.todocontentprovider"
            android:exported="false" />


    </application>

</manifest>